* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    height: 156px;
}

header>.main-nav {
    background: url("/public/images/bg-header.png") repeat-x center top;
}

.main-nav>.container {
    width: 960px !important;
    padding: 0 5px;
    margin: 0 auto;
}

.main-menu {
    list-style: none;
    height: 61px;
}

.main-menu>li {
    display: inline-block;
    /* //float: left; */
    padding: 15px;
    position: relative;
}

.main-menu .logo {
    position: absolute;
}

.main-menu>li>a {
    text-decoration: none;
    color: white;
    line-height: 31px;
}

.logo>a {
    height: 108px;
    width: 160px;
    position: absolute;
    background: url("/public/images/logo.png") no-repeat center top;
}

.sub-menu {
    position: absolute;
    top: 61px;
}

.none {
    width: 150px;
}